/* @import '../App.css'; */
.formContainer {
  width: 40vw;
  margin: 10vh auto;
  background-color: var(--accent-color1);
  border-radius: 2%;
  box-shadow: 0 10px 20px var(--shadow-color);
  padding: 2%;
}
.form {
  display: flex;
  justify-content: center;
}
.headingContainer {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.headingContainer h1 {
  color: var(--shadow-color);
}
.headingContainer a,
span {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-lg);
}
.activated a {
  text-decoration: underline;
  color: var(--text-color-dark);
}
p {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-lg);
  color: var(--text-color-dark);
  padding: 5%;
}

.form label,
.form input,
.form textarea {
  width: 30vw;
  margin: auto;
  margin-top: 2px;
}
.form label {
  display: none;
}

.form input,
.form textarea .actions button {
  font: inherit;
  padding: 0.5rem;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-md);
  /* border-radius: 10px 10px 0 0; */
}

.actions {
  display: flex;
  align-items: center;
  width: 30vw;
}

.actions button {
  width: 100%;
  cursor: pointer;
  padding: 1.2rem;
  background-color: var(--text-color-dark);
  color: var(--accent-primary);
  border: none;
  margin-top: 2%;
  border-radius: 0 0 10px 10px;
}

.actions button:hover {
  background-color: #f6ad1b;
  color: aliceblue;
}

.actions a:hover {
  background-color: var(--color-gray-800);
}
.toggleLogin {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.toggleLogin a {
  text-decoration: none;
  background-color: transparent;
  color: #1f1d1b;
}
.toggleLogin a:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #881e88;
  font-size: larger;
}

@media (max-width: 750px) {
  .formContainer {
    width: 90vw;
  }
  .form {
    width: 90%;
    margin: 5% auto;
  }
  .form label,
  .form input,
  .form textarea {
    width: 75vw;
    margin: auto;
    margin-top: 1%;
  }
  .actions {
    width: 75vw;
  }
  .actions button {
    width: 100%;
    padding: 0.5rem;
    height: 5vh;
    border-radius: 0 0 10px 10px;
  }
}
