.container {
  padding: 50px 10px 20px 10px;
  background-color: var(--accent-color2);
}

.card {
  background-color: var(--accent-color3);
  color: white;
  /* padding: 1rem; */
  aspect-ratio: 4/3;
}

.card img {
  aspect-ratio: 4/3;
  width: 100%;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1.5rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}