@import '../App.css';
.container{
  display: flex;
  justify-content: center;
  font-size: var(--font-size-lg);
}
.txt{
  user-select: none;
}
.formContainer{
  display: flex;
  justify-content: center;
}